---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/shanduur/labeler/labels/test
        method: GET
      response:
        body: "{\"id\":5802355538,\"node_id\":\"LA_kwDOJvbfvM8AAAABWdjrUg\",\"url\":\"https://api.github.com/repos/shanduur/labeler/labels/test\",\"name\":\"test\",\"color\":\"ffffff\",\"default\":false,\"description\":\"Test label. \U0001F6A7\"}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fdf3e7ef5bcd6cfc936c121ba50eb22dab29696dc9627a0b4e475c6874005f84"
            Github-Authentication-Token-Expiration:
                - 2023-08-31 07:53:25 UTC
            Last-Modified:
                - Wed, 02 Aug 2023 13:14:00 GMT
            X-Accepted-Oauth-Scopes:
                - repo
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4998"
            X-Ratelimit-Reset:
                - "1690987951"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "2"
        status: 200 OK
        code: 200
        duration: 338.760125ms
