---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/shanduur/labeler/labels
        method: GET
      response:
        body: "[{\"id\":5620482248,\"node_id\":\"LA_kwDOJvbfvM8AAAABTwHAyA\",\"url\":\"https://api.github.com/repos/shanduur/labeler/labels/%C2%AF%5C_(%E3%83%84)_/%C2%AF\",\"name\":\"¯\\\\_(ツ)_/¯\",\"color\":\"f9d0c4\",\"default\":false,\"description\":\"¯\\\\\\\\\\\\_(ツ)_/¯\"},{\"id\":5802328028,\"node_id\":\"LA_kwDOJvbfvM8AAAABWdh_3A\",\"url\":\"https://api.github.com/repos/shanduur/labeler/labels/api\",\"name\":\"api\",\"color\":\"6f42c1\",\"default\":false,\"description\":\"Issues related to the GitHub API\"},{\"id\":5620440564,\"node_id\":\"LA_kwDOJvbfvM8AAAABTwEd9A\",\"url\":\"https://api.github.com/repos/shanduur/labeler/labels/bug\",\"name\":\"bug\",\"color\":\"d73a4a\",\"default\":true,\"description\":\"Something isn't working as expe[...]
